<h1>Pace Calculator</h1>
<div class="tab">
  <button class="tablinks" onclick="openCalc(event, 'Running')" id="defaultOpen">Running</button>
  <button class="tablinks" onclick="openCalc(event, 'Rowing')">Rowing</button>
  <button class="tablinks" onclick="openCalc(event, 'Swimming')">Swimming</button>
</div>

<div id="Running" class="tabcontent">
  <%= form_tag("/pace", method: "get") do %>
      <%= hidden_field_tag(:activity, "run") %>
      <%= label_tag "Pace: " %>
      <%= text_field_tag(:pace_minutes) %> min <%= text_field_tag(:pace_seconds) %> sec per
      <%= select_tag(:pace_length, options_for_select([['mile','mi'], ['kilometer','km'], ['meter','m']])) %>
      <%= submit_tag 'Calculate Pace', name: 'pace' %><br/>
      <%= label_tag "Distance: " %>
      <%= text_field_tag(:distance) %>
      <%= select_tag(:distance_length, options_for_select([['miles','mi'], ['kilometers','km'], ['meters','m']])) %>
      <%= submit_tag 'Calculate Distance', name: 'distance' %><br/>
      <%= label_tag "Time: " %>
      <%= text_field_tag(:time_hours) %> hr <%= text_field_tag(:time_minutes) %> min <%= text_field_tag(:time_seconds) %> sec
      <%= submit_tag 'Calculate Time', name: 'time' %><br/>
  <% end %>
</div>
<div id="Rowing" class="tabcontent">
  <%= form_tag("/pace", method: "get") do %>
      <%= hidden_field_tag(:activity, "row") %>
      <%= label_tag "Pace: " %>
      <%= text_field_tag(:pace_minutes) %> min <%= text_field_tag(:pace_seconds) %> sec per 500 meters
      <%= hidden_field_tag(:pace_length, "500m") %>
      <%= submit_tag 'Calculate Pace', name: 'pace' %><br/>
      <%= label_tag "Distance: " %>
      <%= text_field_tag(:distance) %>
      <%= select_tag(:distance_length, options_for_select([['miles','mi'], ['kilometers','km'], ['meters','m']])) %>
      <%= submit_tag 'Calculate Distance', name: 'distance' %><br/>
      <%= label_tag "Time: " %>
      <%= text_field_tag(:time_hours) %> hr <%= text_field_tag(:time_minutes) %> min <%= text_field_tag(:time_seconds) %> sec
      <%= submit_tag 'Calculate Time', name: 'time' %><br/>
  <% end %>
</div>
<div id="Swimming" class="tabcontent">
  <%= form_tag("/pace", method: "get") do %>
      <%= hidden_field_tag(:activity, "swim") %>
      <%= label_tag "Pace: " %>
      <%= text_field_tag(:pace_minutes) %> min <%= text_field_tag(:pace_seconds) %> sec per
      <%= select_tag(:pace_length, options_for_select([['50 yards','50yd'], ['25 yards','25yd'], ['50 meters','50m'], ['25 meters', '25m']])) %>
      <%= submit_tag 'Calculate Pace', name: 'pace' %><br/>
      <%= label_tag "Distance: " %>
      <%= text_field_tag(:distance) %>
      <%= select_tag(:distance_length, options_for_select([['miles','mi'], ['kilometers','km'], ['meters','m']])) %>
      <%= submit_tag 'Calculate Distance', name: 'distance' %><br/>
      <%= label_tag "Time: " %>
      <%= text_field_tag(:time_hours) %> hr <%= text_field_tag(:time_minutes) %> min <%= text_field_tag(:time_seconds) %> sec
      <%= submit_tag 'Calculate Time', name: 'time' %><br/>
  <% end %>
</div>
<% if @pace %>
  <% if @pace.type == "pace" %>
    <%= @pace.print_pace %>
  <% elsif @pace.type == "time" %>
    <%= @pace.print_time %>
  <% elsif @pace.type == "distance" %>
    <%= @pace.print_distance %>
  <% end %>
<% end %>

<script>
  document.getElementById("defaultOpen").click();
</script>